<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/solid.css" integrity="sha384-TbilV5Lbhlwdyc4RuIV/JhD8NR+BfMrvz4BL5QFa2we1hQu6wvREr3v6XSRfCTRp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container col-sm-9">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SOFTSHOP</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="produtos" asp-action="listar">Produtos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Venda" asp-controller="Pedidos" asp-action="Listar">
                                Meus pedidos
                            </a>
                        </li>

                    </ul>
                </div>

            </div>
            <div class="container col-sm-1 text-right">
                <a class="nav-link text-dark" asp-area="admin" asp-controller="admin" asp-action="index">
                    <i class="fas fa-user-lock" title="Admin"></i>
                </a>

            </div>
            <div class="container col-sm-1">
                |
            </div>
            <div class="container col-1 text-left">
                <a class="nav-link text-dark" asp-area="Cadastros" asp-controller="Pedidos" asp-action="Listar">
                    <i class="fas fa-shopping-cart" data-toggle="tooltip" data-placement="top" title="Carrinho de compras"></i>

                </a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - SoftShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Quem Somos</a>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
<div class="modal animated fadeInDown" id="modalGenerico" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="dialogGenerico" class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="conteudoModalGenerico">novo teste<br>novo teste<br>novo teste<br>novo teste<br></div>


        </div>
    </div>
</div>


</html>
<script type="text/javascript">
    var virtualPath = '@Url.Content("~/")';
    var NumeroPedidoGuardado = 0;
</script>